<!-- <h1>Hello boss</h1> -->
<% for(var i=0;i<users.length;i++){%>
<tr>
    <td><%=i+1%></td>
    <td><%=users[i].usn%></td>
    <td><%=users[i].name%></td>
    <td>
        <input type="hidden" id="delete-user" value="<%=users[i]._id%>">
        <a href="/update_user?id=<%=users[i]._id%>" class="Update" ><i class=" fa fa-pencil-alt" aria-hidden="true"></i></a>
        <a  onclick="dele();"class="delete" data-id=<%=users[i]._id%>> <i class=" fa fa-trash fa-lg" aria-hidden="true"></i></a>
    </td>
</tr>
<%}%>



